<main role="main ">

    <section class="jumbotron ">
        <h1 class="jumbotron-heading text-center">Profile de <%=current_user.first_name%></h1>
        <p class="lead text-muted">Information personnelles :</p>
        <ul class="list-group list-group-flush">
<li class="list-group-item">Nom : <%=current_user.last_name%></li>
<li class="list-group-item">Prénom : <%=current_user.first_name%></li>
<li class="list-group-item"><i class="fas fa-paper-plane"></i> : <%=current_user.email%></li>
<li class="list-group-item"><i class="fas fa-stream"></i> : <%=current_user.description%></li>
</ul>
    </section>

    <div class="row justify-content-center">
  <% @userfind.events.each do |t| %>
      <div class="card m-4 col-sm-12 col-md-4 col-lg-3 text-center">
        <div class="card-body">
          <h5 class="card-title">
            <%= t.title %><br/><br/>
          </h5>
          <p class="card-text">
            <%= t.duration %> minutes<br/><br/>
            <%= t.start_date.strftime('%d/%m/%Y') %><br/><br/>
            <%= t.price %>€<br/><br/>
            <%= t.location %><br/><br/>
            <%= t.description %><br/><br/>
            <%= link_to "#{t.attendances.count} participant(s)", event_path(t.id), :class =>"btn btn-outline-info"  %><br/> <br/>
          </p>
        </div>
      </div>
      <% end %>
    </div>

    </main>

    <footer class="text-muted">
    <div class="container">
        <p class="float-right">
        <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; taking on Bootstrap,and customize by Jonathan
        <a href="https://desolate-bayou-88355.herokuapp.com/">Visit the homepage</a> or read our <a href="https://github.com/piwiit/eventbrite_d2">getting started guide</a>.</p>
    </div>
    </footer>
